body {
  font-family: "Salsa", cursive;

  background: #142e4d;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 55%;
  height: 85vh;
  text-align: center;
  background-color: #245c91;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

h1 {
  color: #ffa800;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2%;
}

.instructions {
  color: #fbe5ba;
  margin-top: 0%;
  margin-bottom: 5%;
  font-size: 1rem;
}

button {
  height: 40px;
  width: 90px;
  margin-left: 2%;
  margin-right: 2%;
  background: #ffa800;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Salsa", cursive;
  font-size: 1rem;
  text-shadow: 2px 2px 3px #858282;
  border: 1px solid rgba(241, 241, 241, 0.35);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.roundsBox {
  background: #93c3f0;
  border-radius: 10px;
  width: 60%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  padding-bottom: 2px;
}

.roundNumber,
.optionPicked {
  text-align: left;
  margin-left: 15px;
}

.centeredMessages {
  margin-left: 15px;
  margin-right: 15px;
}

.optionPicked {
  margin-top: 0%;
  margin-bottom: 0%;
}

.results {
  width: 95%;
  height: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

/* Customizing the scrollbar */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa800;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcd07a;
}

/* Making it mobile friendly */

@media only screen and (min-width: 320px) and (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  .instructions {
    font-size: 0.75rem;
  }

  .container {
    width: 90%;
    height: 90vh;
  }

  button {
    width: 80px;
    height: 30px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 8px;
  }

  .roundsBox {
    width: 80%;
  }
}
